html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* MAPS */
/* MAPS - hotelSearchMap */
#hotelSearchMap {
  height: 50%;
  width: 66.66%;
  margin-right: 0;
}


/* MAPS - dualMaps */
#map, #pano {
  float: left;
  height: 50%;
  width: 50%;
}
/* MAPS - END */

#hotelSearchData {
  background-color: rgba(41, 41, 85, 0.393);
  background:url("https://raw.githubusercontent.com/MACmidiDEV/CInst-M2-Interactive-Development/master/assets/images/nasa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0; 
  width: 33.33%;
  height: 50%;

}


#results {
  overflow: scroll;
  height: 100%;
  text-align: right;
  /* padding-left: 2em; */
}




#autocomplete {
  width: 100%;
}
#country {
  width: 75%;
  margin-left: 25%;
  /* transform-origin: bottom 10px; */
}

#listing {
  overflow: scroll;
  height: 84%;
}



