html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* MAPS */
/* MAPS - hotelSearchMap */
#hotelSearchMap {
  height: 50%;
  width: 66.66%;
  margin-right: 0;
}
/* MAPS - dualMaps */
#map, #pano {
  float: left;
  height: 50%;
  width: 50%;
}
/* MAPS - END */



